* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  
  :root {
    --background: #060608;
    --color: #c7f1ff;
  }
  
  body {
    justify-content: center;
    align-items: center;
    background: var(--background);
    font-family: 'Ubuntu', sans-serif;
    outline: #c7f1ff;
  }
  
  /* glitch animation */ 
  
  .container {
    color: var(--color);
    font-size: 3.25rem;
    display: flex;
    position: relative;
    width: 100vw;
    margin-top: 10%;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
  }

  .right {
    text-align: right;
    max-width: 70%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
    font-family:'Ubuntu', sans-serif;
  }
  
  .stack span {
    font-weight: 800;
    grid-row-start: 1;
    grid-column-start: 1;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 140ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 50ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }

  /* about section styling */

  .about {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-top: 30%;
  }
  
  .about-header {
    width: 95vw;
    float: left;
    color:var(--color);
    margin-left: 30px;
  }

  .about-header h1{
    text-decoration: underline #39a7f6;
    font-size: 32px;
    color: var(--color);
  }

  .about-header p{
    margin: 5px;
  }

  .about-header img{
    float: right;
    margin-left: 15%;
    border-radius: 500%;
    width: 380px;
    height: 320px;
  }

  .about-header img:hover {
    transform:scale(1.5) ease 0.3s;
  }

  .skills {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--color);
    margin: 15%;
    overflow: hidden;
    }

    .tree h3 {
      text-align:left;
      font-weight: 600;
      font-size: 24px;
      padding-left: 22px;
      text-decoration: double;
    }

    .skill-tree ul li {
      list-style-type: none;
      align-items: center;
      text-align: left;
      width: 20vw;
      margin: 10%;
      text-decoration: none;
    }

    /* Project-1 */ 

    .project-1 {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 100vw;
      padding-left: 500px;
      overflow: hidden;
    }

    .project-1 h1, #score {
      color: var(--color);
      margin-left: 15px;
    }

    .tetriswrap {
      position: relative;
      overflow: hidden;
      margin: 20px;
    }

    canvas {
      border: solid 0.2em #d2bbbb;
      max-height: 90vh;
      margin-bottom: 20px;
    }
  
    .instructions {
      flex-direction: column;
      justify-content: center;
      font-size: 30px;
      color: var(--color);
      padding-left: 10px;
      width: 25vw;
    }
    
    .instructions span {
      display: flex;
      justify-content: space-between;
      margin: auto;
      font-size: medium;
      color: var(--color)
    }

  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

  /* Responsive media */ 

  @media (max-width: 768px) {
    /* CSS rules for tablet devices */
    /* For example: */
    .container {
        font-size: 1.5rem;
        margin-top: 5%;
    }
    
    .about-header img{
        width: 180px;
        height: 160px;
    }

    .skills {
        flex-direction: column;
        margin: 5%;
    }
}

@media (max-width: 480px) {
    /* CSS rules for smartphone devices */
    /* For example: */
    .container {
        font-size: 1.2rem;
        margin-top: 2%;
    }

    .about-header img{
        width: 140px;
        height: 120px;
    }

    .skills {
        flex-direction: column;
        margin: 3%;
    }
}
